---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div>
          {
            posts.map((post) => (
              <div class="border my-4 p-2 rounded-lg shadow hover:cursor-pointer">
                <a class="font-bold text-xl" href={`/blog/${post.slug}/`}>{post.data.title}</a>
                <br>
                <div class="text-gray-300 text-xs text-right">
                  <FormattedDate date={post.data.pubDate}/>
                  - {post.data.author || "NONE"}
                </div>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
